.game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-content;
  border: 2px solid $color-cart;
  padding: 10px;
  margin-bottom: 5px;
}

.global-cont {
  display: flex;
  flex-direction: column;
}

.game-image {
  width: 150px;
  height: 150px;
  &:hover {
    transform: scale(1.1);
    transition: all .5s ease;
  }
  cursor: pointer;
}

.game-count-container {
  text-align: center;
  width: 70px;
  cursor: pointer;
}

.game-title {
  @include font($size:1.8rem, $height:2.1rem, $weight:600);
}

.game-price {
  @include font($size:1.8rem, $height:2.1rem, $weight:600);
  color: $color-additionaly;
}

.result-sum {
  align-self: flex-end;
  margin: 10px;
  @include font($size:2.1rem, $height:2.1rem, $weight:600);
}

.game-count-plus {
  width: 20px;
  height: 20px;
  background-color: $color-additionaly;
  border-radius: 50%;
  color: white;
  @include font($size:1.8rem, $height:1.9rem, $weight:600);
  text-align: center;
}

.btn-buy {
  align-self: flex-end;
  display: block;
  margin: 10px 0;
  border-radius: 13px;
  line-height: 2.6rem;
  padding: 10px 27px;
  font-size: 1.6rem;
  color: $color-content;
  text-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
  transition: all ease .2s;
  user-select: none;
  appearance: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: $color-cart;
  white-space: nowrap;
  &:hover {
    background: $color-additionaly;
    transition: all 0.5 ease;
  }
  margin: 10px;
  @include font($size:1.8rem, $height:1.9rem, $weight:600);
}
