$color-primary:rgb(23, 110, 122);
$color-additionaly: rgb(238, 108, 61);
$color-cart: rgb(242, 208, 97);
$color-cart-hover: rgb(243, 200, 62);

$color-text: rgb(77, 77, 77);
$color-title: rgb(24, 68, 74);

$color-background:rgb(227, 239, 240);
$color-cards:rgb(248, 228, 173);
$color-content:rgb(255, 255, 255);
$color-content-hover:rgb(220, 220, 220);

$content-width: 1160px;